.quote-container {
  position: relative;
  width: 50%;
  margin: auto;
  padding-bottom: 4em;
  padding-top: 1em;
  color: #fafafa;
  text-align: center;
  display: flex;
  justify-content: center;
}

.quote-box {
  position: relative;
  margin: auto;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-border,
.bottom-border {
  width: 50%;
  border-top: 1px solid #fafafa;
  transition: all 1s ease-out;
}

.top-border {
  margin-bottom: 2em;
}

.bottom-border {
  margin-top: 2em;
}

.quote-box:hover .top-border,
.quote-box:hover .bottom-border {
  width: 100%;
}

.iroh {
  margin-top: 1em;
  font-style: italic;
}

.shuffle-button {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 2.2em;
  width: 2.2em;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.shuffle-icon {
  margin: auto;
  width: 2em;
  height: 2em;
  transition: all 0.1s;
}

.shuffle-icon:hover {
  width: 2.2em;
  height: 2.2em;
}
